html body {
	font-family: $font-primary;
}

footer {
	text-decoration: none;
	a {
		color: white;
		font-family: $font-primary;
		text-decoration: none;
	}
	p {
		color: white;
		font-family: $font-secondary;
		margin-left: 2rem;
		text-decoration: none;
	}
}
h1 {
	font-size: 1.5rem;
}
.title {
	font-size: 1.5rem;
	font-family: $font-primary;
	font-weight: 600;
}
header {
	h2 {
		font-size: 1.2rem;
		font-weight: 100;
	}
	p {
		font-weight: 900;
	}
}
h3 {
	font-size: 1.2rem;
	font-weight: 900;
}
h4 {
	font-size: 1rem;
	font-weight: 100;
}
.main__title {
	font-family: $font-secondary;
	h1 {
		font-size: 1.7rem;
		font-weight: 500;
	}
}
ul {
	list-style-type: none;
}
.main__subtitle {
	h2 {
		font-size: 1.2rem;
		font-weight: 300;
		padding-bottom: 0.5rem;
		&::after {
			content: "";
			display: block;
			width: 15%;
			padding-top: 0.3rem;
			border-bottom: 0.2rem solid $color-tertiary;
		}
	}
}
