header {
	text-align: center;
}

.header {
	&__explore {
		background-color: $color-background;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		height: 18rem;
		padding-top: 1rem;
	}
	&__location {
		background-color: darken($color: $color-background, $amount: 5%);
		border: inset 0.1rem $color-background;
		i {
			padding-right: 1rem;
		}
	}
	&__logo {
		padding: 0.25rem 0;
	}
	&__navigation {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		i {
			position: relative;
			right: 4rem;
		}
	}
}
.header__img {
	img {
		height: 15rem;
		object-fit: cover;
		width: 100%;
		z-index: -1;
	}
}
