.nav {
	&__title {
		margin-left: 1rem;
		position: relative;
		top: 2rem;
	}
	&__card {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: flex-start;
		margin: 1.5rem auto;
		i {
			color: lighten($color: #000000, $amount: 50%);
			font-size: 1.2rem;
			padding-left: 2rem;
		}
		p {
			font-weight: 900;
		}
	}
}
