.nav__card {
	background-color: $color-background;
	border-radius: 1.4rem;
	-webkit-box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.2);
	box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.2);
	height: 4.5rem;
	transform: scale(1);
	transition: transform 400ms;
	width: 20rem;
	&:hover {
		background-color: lighten($color: $color-primary, $amount: 35%);
		box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.15);
		transform: scale(1.07);
		-webkit-box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.15);
	}
	&:hover .fas {
		color: $color-primary;
	}
}
.card {
	&__restaurant {
		background-color: white;
		border-radius: 1rem;
		-webkit-box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.3);
		box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.3);
		height: 15rem;
		width: 20rem;
	}
	&__restaurant img {
		border-radius: 1rem 1rem 0rem 0rem;
		height: 10rem;
		object-fit: cover;
		position: relative;
		width: 20rem;
	}
	&__text {
		line-height: 0.5rem;
		padding: 0 1rem;
	}
}
.menu__item {
	-webkit-box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.05);
	box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.05);
	background-color: white;
	border-radius: 1rem;
	height: 3.25rem;
	line-height: 0.9rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	width: 19rem;
	h3 {
		font-size: 1rem;
		font-weight: 500;
	}
	h4 {
		font-size: 0.8rem;
		font-weight: 300;
		position: relative;
		bottom: 0.5rem;
		strong {
			float: right;
			padding-right: 1rem;
		}
	}
}
