.icon {
	&__number {
		align-items: center;
		background-color: $color-primary;
		border-radius: 2rem;
		color: white;
		display: flex;
		font-size: 0.8rem;
		height: 1.5rem;
		justify-content: center;
		width: 1.5rem;
	}
	&__new {
		align-items: center;
		background-color: $color-tertiary;
		border-radius: 0.15rem;
		color: darken($color: $color-tertiary, $amount: 40%);
		display: flex;
		font-size: 0.9rem;
		font-weight: 600;
		height: 2rem;
		justify-content: center;
		width: 5.5rem;
	}
}
.arrow {
	color: black;
}
.card__icon {
	&--full {
		background: -webkit-linear-gradient($color-primary, $color-secondary);
		font-size: 2rem;
		position: relative;
		bottom: 3.5rem;
		left: 15rem;
		width: 2rem;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&--empty {
		font-size: 2rem;
		background-color: white;
		position: relative;
		bottom: 5.5rem;
		left: 15rem;
		width: 2rem;
		&:hover {
			opacity: 0;
			transition-duration: 500ms;
		}
	}
}
.main__icon {
	&--empty i {
		background-color: $color-background;
		float: right;
		font-size: 2rem;
		font-weight: 100;
		position: relative;
		right: 2rem;
		bottom: 5.5rem;
		&:hover {
			opacity: 0;
			transition-duration: 500ms;
		}
	}
	&--full i {
		background: -webkit-linear-gradient($color-primary, $color-secondary);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		float: right;
		font-size: 2rem;
		position: relative;
		right: 2rem;
		bottom: 3.5rem;
	}
}
.check {
	color: white;
	background-color: none;
	border-radius: 50%;
	font-size: 1.5rem;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
}
.overlay {
	position: relative;
	bottom: 4.94rem;
	left: 100%;
	right: 0;
	background-color: $color-tertiary;
	border-radius: 0 1rem 1rem 0;
	width: 0;
	height: 4.27rem;
	overflow: hidden;
	transition: 0.3s linear;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 7rem;
	height: 7rem;
	margin: -3rem;
	background: linear-gradient(
		$color-primary 40%,
		$color-secondary,
		$color-tertiary
	);
	border-radius: 50%;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
