.icon {
	&__number {
		align-items: center;
		background-color: $color-primary;
		border-radius: 2rem;
		color: white;
		display: flex;
		font-size: 0.8rem;
		height: 1.5rem;
		justify-content: center;
		width: 1.5rem;
	}
	&__new {
		align-items: center;
		background-color: $color-tertiary;
		border-radius: 0.15rem;
		color: darken($color: $color-tertiary, $amount: 40%);
		display: flex;
		font-size: 0.9rem;
		font-weight: 600;
		height: 2rem;
		justify-content: center;
		width: 5.5rem;
	}
}
.arrow {
	color: black;
}
.card__icon {
	&--full {
		background: -webkit-linear-gradient($color-primary, $color-secondary);
		font-size: 2rem;
		position: relative;
		bottom: 3.5rem;
		left: 15rem;
		width: 2rem;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&--empty {
		font-size: 2rem;
		background-color: white;
		position: relative;
		bottom: 5.5rem;
		left: 15rem;
		width: 2rem;
		&:hover {
			opacity: 0;
			transition-duration: 500ms;
		}
	}
}
.main__icon {
	&--empty i {
		background-color: $color-background;
		float: right;
		font-size: 2rem;
		font-weight: 100;
		position: relative;
		right: 2rem;
		bottom: 5.5rem;
		&:hover {
			opacity: 0;
			transition-duration: 500ms;
		}
	}
	&--full i {
		background: -webkit-linear-gradient($color-primary, $color-secondary);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		float: right;
		font-size: 2rem;
		position: relative;
		right: 2rem;
		bottom: 3.5rem;
	}
}
