.icon {
	&__number {
		align-items: center;
		background-color: $color-primary;
		border-radius: 2rem;
		color: white;
		display: flex;
		font-size: 0.8rem;
		height: 1.5rem;
		justify-content: center;
		width: 1.5rem;
	}
	&__new {
		align-items: center;
		background-color: $color-tertiary;
		border-radius: 0.15rem;
		color: darken($color: $color-tertiary, $amount: 40%);
		display: flex;
		font-size: 0.9rem;
		font-weight: 600;
		height: 2rem;
		justify-content: center;
		width: 5.5rem;
	}
}
.arrow {
	color: black;
}
.card__icon {
	&--full {
		background: -webkit-linear-gradient($color-primary, $color-secondary);
		font-size: 2rem;
		position: relative;
		bottom: 3.5rem;
		left: 15rem;
		width: 2rem;
		background-clip: inherit;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&--empty {
		font-size: 2rem;
		background-color: white;
		position: relative;
		bottom: 5.5rem;
		left: 15rem;
		width: 2rem;
		&:hover {
			opacity: 0;
			transition-duration: 500ms;
		}
	}
}
.main__icon {
	&--empty i {
		background-color: $color-background;
		float: right;
		font-size: 2rem;
		font-weight: 100;
		position: relative;
		right: 2rem;
		bottom: 5.5rem;
		&:hover {
			opacity: 0;
			transition-duration: 500ms;
		}
	}
	&--full i {
		background: -webkit-linear-gradient($color-primary, $color-secondary);
		background-clip: inherit;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		float: right;
		font-size: 2rem;
		position: relative;
		right: 2rem;
		bottom: 3.5rem;
	}
}
.check {
	color: white;
	border-radius: 50%;
	font-size: 1.5rem;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
	transform: rotate(-90deg);
	transition-duration: 0.5s;
}

.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: whitesmoke;
	animation: loader 0.01s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;

	&__item {
		height: 5rem;
		width: 1.5rem;
		border-radius: 0.5rem;
		animation: bounce 1s;
		animation-iteration-count: 5;
		animation-duration: 1s;

		&--container {
			display: flex;
			gap: 0.5rem;
		}

		&--1 {
			background-color: $color-primary;
		}

		&--2 {
			background-color: $color-secondary;
			animation-delay: 0.5s;
		}

		&--3 {
			background-color: $color-tertiary;
			animation-delay: 0.75s;
		}
	}
}
