.icon {
	&__number {
		position: relative;
		right: 0.75rem;
	}
	&__new {
		position: relative;
		left: 12rem;
		bottom: 15.5rem;
		z-index: 1;
	}
}
.restaurant__section a {
	text-decoration: none;
	color: black;
}
.restaurant__section {
	.container {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}

.restaurant__section {
	background-color: $color-background;
	margin-top: 3rem;
	padding-bottom: 5rem;
	padding-top: 1rem;
	h1 {
		font-weight: 900;
		margin-left: 1.5rem;
	}
}
